<ion-header>

  <ion-navbar color="chocolate">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Compra</ion-title>

    <ion-buttons end>
      <button ion-button icon-right color="royal" (click)="salvarCompra();">
        Salvar
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="compra.ItensDisponiveis.length > 0 || compra.ItensComprados.length > 0">
    <!-- ITENS DA COMPRA -->
    <ion-list>
      <ion-item *ngFor="let item of compra.ItensDisponiveis" (tap)="comprar(item)"  (press)="excluir(item, 1)">
        {{ item.Nome }} ({{ item.Preco | number_real }}) x {{item.Quantidade }} ({{ item.Total | number_real }} )
      </ion-item>
    </ion-list>
    <!-- [FIM] ITENS DA COMPRA -->

    <!-- ITENS COMPRADOS -->
    <ion-list>
      <ion-item *ngFor="let item of compra.ItensComprados"  (tap)="descomprar(item)" (press)="excluir(item, 2)" class="comprado">
        {{ item.Nome }} ({{ item.Preco  | number_real}}) x {{item.Quantidade }} ({{ item.Total | number_real }})
      </ion-item>
    </ion-list>
    <!-- [FIM] ITENS COMPRADOS -->
  </div>

  <!-- NÂO TEM ITENS -->
  <div *ngIf="compra.ItensDisponiveis.length == 0 && compra.ItensComprados.length == 0">
      <h2 text-center>Nenhum item adicionado a compra</h2>
  </div>
  <!-- [FIM] NÂO TEM ITENS -->

</ion-content>

<!-- TOTAL -->
<ion-footer>
  <ion-toolbar>
    <p>Total Lista / Total Comprado: ({{compra.Total | number_real}} / {{compra.TotalComprado | number_real}})</p>
    <ion-buttons end>
      <button ion-button icon-right color="royal" (click)="novoItem();">
        Adicionar
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>